html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #97867d;
}

* {
  cursor: url('assets/Precision\ Select\ G191.cur'), auto; /* ccursors: https://www.rw-designer.com/cursor-set/guest-191-s-hands*/
  }

/* wrapper becomes the viewport container */
.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  container-type: size;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
  opacity: 0.17;
  background-image: url('assets/noise.png'); /* watercolor paper texture*/
  background-size: 200px 200px;
  background-repeat: repeat;
  mix-blend-mode: overlay;
}

a, button, .cardicon {
  cursor: url('assets/Normal\ Select\ G191.cur'), pointer;
}

p, h1, h2, h3, .content {
  cursor: url('assets/Text\ Select\ G191.cur'), text;
}

/* right grid paper region */
.material {
  position: absolute;
  top: 0;
  right: 0;

  width: 58%;
  height: 100%;

  background-image: url("assets/gridpapercropped.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 6cqw;
  padding-top: 4cqw;
  padding-right: 2.6cqw;
  font-size: 1.1cqw;
  line-height: 105%;
  overflow-y: auto;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 410;
  color: #4a4440;
  z-index: 2;
  filter: blur(0.2 px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.2));
}

.content img {
  display: block;
  margin-top: 1.2cqw;
  margin-bottom: 0.1cqw;
  margin-left: auto;
  margin-right: auto;
  height: 26cqw;
  opacity: 1;
  border: 2.8px solid rgba(33, 33, 33, 0.88);
  filter: drop-shadow(4px 0px 23px rgba(0,0,0,0.35))
    drop-shadow(0px 0px 35px rgba(0,0,0,0.15));
}

.content p {
  margin-top: 0px;
  margin-bottom: 1.7cqh;
}

.content h3 {
  margin-bottom: 0.48cqw;
}

.content a {
  color: #ad5147;
}

.content .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1cqw;
}

.content .grid img {
  width: 100%;
  height: auto;
}

.content .grid em {
  display: block;
  text-align: center;
  font-size: 1.2cqw;
}

.content .float-right {
  float: right;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5cqw;
  margin-left: 2cqw;
}

.content .float-right img {
  height: 24cqw;
  float: none;
  margin: 0;
}

.content .float-right p {
  display: contents;
}

.content-text {
  mix-blend-mode: multiply;
}
.content-text h1 { color: #4a4440; opacity: 0.97; filter: blur(0.07px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.215)); }
.content-text h2 { color: #4a4440; opacity: 0.94; filter: blur(0.09px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.22)); }
.content-text h3 { color: #4a4440; opacity: 0.90; filter: blur(0.11px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.225)); }
.content-text h4 { color: #4a4440; opacity: 0.89; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.19)); }
.content-text h5 { color: #4a4440; opacity: 0.88; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.183)); }
.content-text h6 { color: #4a4440; opacity: 0.87; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.175)); }
.content-text p { color: #4a4440; opacity: 0.89; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.19)); }
.content-text blockquote { color: #4a4440; opacity: 0.88; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.183)); }
.content-text blockquote blockquote { color: #4a4440; opacity: 0.87; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.178)); }
.content-text blockquote blockquote blockquote { color: #4a4440; opacity: 0.86; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.175)); }
.content-text ul, .content-text ol { color: #4a4440; opacity: 0.88; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.183)); }
.content-text ul ul, .content-text ol ol { color: #4a4440; opacity: 0.87; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.178)); }
.content-text ul ul ul, .content-text ol ol ol { color: #4a4440; opacity: 0.86; filter: blur(0.10px) drop-shadow(0px 0px 3.6px rgba(0,0,0,0.175)); }
/*
.leftbgblur {
  position: absolute;
  top: 0;
  left: 0;
  width: 44%;
  height: 100%;
  opacity: 1;
  object-fit: fill;
  pointer-events: none;
  z-index: 3;
  filter: drop-shadow(20px 0px 50px rgba(0,0,0,1));
}*/

.top {
  top:  -3.5px;
  left: 0;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, transparent 100%);
  width: 100%;
  height: 3cqh;
  pointer-events: none;
  z-index: 4;
  mix-blend-mode: multiply;
}

/*
.topframe {
  position: absolute;
  top: -1%;
  left: 0;
  width: 100%;
  height: 40%;
  opacity: 1;
  object-fit: fill;
  pointer-events: none;
  z-index: 5;
}*/

.frame {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 56%;
  z-index: 10;
  pointer-events: none;
  filter: drop-shadow(7px -2px 5px rgba(0,0,0,0.3));
}

.leftbg {
  position: relative;
  top: 0; /* start just below card */
  left: 0;
  width: 44.1%; /* extend to card edge */
  height: 100%;
  background-image: url("assets/leftbg.png");
  background-size: 100% 100%;
  background-position: right center;
  z-index: 5;
  filter: drop-shadow(5px 0px 23px rgba(0,0,0,0.3)); /* chefs kiss drop shadow*/
}

.leftbg img {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 94.7%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

/* link card anchor */
.links {
  position: absolute;

  top: 7.5cqh;
  left: 2.9cqw;

  z-index: 10;
}

/* notebook card */
.card {
  position: relative;
  width: 42.8cqw;
  container-type: inline-size;
  background-image: url("assets/linedpapergraffiti.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  filter: drop-shadow(4px 4px 7px rgba(0,0,0,0.45));
}

.cardicon {
  transition: width 0.15s ease;
  position: absolute;
  top: 0.4cqw;
  left: 8cqw;
  width: 19cqw;
  opacity: 0.94;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
  pointer-events: visibleFill;
  z-index: 5;
}

.cardicon:hover {
  width: 20cqw;
  transition: width 0.15s ease;
}

.cardicon2 {
  transition: width 0.15s ease;
  position: absolute;
  bottom: -7cqw;
  rotate: -40deg;
  right: 4cqw;
  width: 19cqw;
  opacity: 0.94;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
}

.cardicon2:hover {
  width: 20cqw;
  transition: width 0.15s ease;
}

/* link container */
.card-links {
  display: flex;
  flex-direction: column;
  gap: 0cqw; /* FUCK GAP THIS WAS THE ISSUE ALL ALONG*/
  margin-top: 13cqw; /* 13.8 should be multiple of line heigh cqw, set this to 0 and then change line heights till you get something on every line then push everything down*/
  margin-left: 11.2cqw;
  margin-bottom: 3.65cqw;
}

/* links */
.card a {
  transition: all 0.15s ease;
  text-decoration: none;
  color: #2d2d2d;

  font-family: Baskerville, serif;
  font-weight: 370;

  font-size: 4.3cqw; /* WAIT EUREKA, THE SOLUTION TO THE ISSUE WHERE THE RESIZING OF WINDOW WOULD MESS EVERYTHING UP. The isseu would be that the window height would change the line height and since the card is tied to the lines of text, it will also expand but it is cropped not scaled so it will not scale up it will just add more lines adn teh lines of text will be bigger but not the same spacing as the image so thats where teh drift occurs. However if we can restrict the spacing to the width of the paper (thats teh part that changes) then we can make this thing work.
  */
  /* okay that was part of the solution. IT WAS FUCKASS GAP IN CARD LINKS ALL ALONG THAT WAS ADDING EXTRA SHIT AND IT WAS TIED TO qcH FUCKK*/
  opacity: 0.8;

  line-height: 1.068;

  letter-spacing: -0.045em;
  filter: blur(0.53px) drop-shadow(0px 0px 2.4px rgba(0,0,0,0.25));
  mix-blend-mode: multiply;
}


.card a:hover {
  color: #8b4513;
  font-size: 4.6cqw;
}
